run = "npm install && npm install --prefix client && npm run build && NODE_ENV=production node server/index.js"
entrypoint = "server/index.js"

[nix]
channel = "stable-24_05"

[env]
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80
